jamtestnet
*.log
bin/jam-duna/jam

# Ignore binaries for each team's project binaries in the bin/${TEAMNAME} directory (jam is assumed)

# bin/blockcowboys/jam
# bin/boka/jam
# bin/clawbird/jam
# bin/gossamer/jam
# bin/graymatter/jam
# bin/jam-forge/jam
# bin/jamlabs/jam
# bin/jam-with-zig/jam
# bin/jam4s/jam
# bin/jamzig/jam
# bin/jamaica/jam
# bin/jamgo/jam
# bin/jamixir/jam
# bin/jampy/jam
# bin/javajam/jam
# bin/jelly/jam
# bin/morum/jam
# bin/marmalade/jam
# bin/po-jam-l/jam
# bin/polkajam/jam
# bin/pyjamaz/jam
# bin/rjam/jam
# bin/strawberry/jam
# bin/tsjam/jam
# bin/tessera/jam
# bin/typeberry/jam
# bin/universaldot/jam
# bin/vinwolf/jam
# bin/goberryjam/jam
# bin/subjam/jam